<p>Request sent on {{ 3 |daysAgo}}

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What do you need help with?
        </dt>
        <dd class="govuk-summary-list__value">
          {% if supportInformation['type-of-help'] == 'supplier' %}
            Finding or choosing a supplier
          {% elseif  supportInformation['type-of-help'] == 'compliance' %}
            Compliance or legal matters
          {% elseif  supportInformation['type-of-help'] == 'other' %}
            Something else
          {% endif %}
        </dd>        
      </div>
    
    {% if supportInformation['type-of-help'] == 'supplier' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of goods or service
        </dt>
        <dd class="govuk-summary-list__value">
          {{ supportInformation['type-of-goods']}}
        </dd>        
      </div>
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When you need the new supplier
        </dt>
        <dd class="govuk-summary-list__value">
          {{ supportInformation['when-needed']}}
        </dd>        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Budget
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ supportInformation['budget']}}
        </dd>        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you found or contacted any suppliers?
        </dt>
        <dd class="govuk-summary-list__value">
          {% if supportInformation['suppliers'] == "yes" %}
            {{ supportInformation['supplier-detail']}}
          {% else %}
            no
          {% endif %}

        </dd>        
      </div>
    
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Describe what you need to buy
        </dt>
        <dd class="govuk-summary-list__value">
          {{ supportInformation['description']}}
        </dd>        
      </div>
    {% else %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How can we help you?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ supportInformation['advice-detail']}}
        </dd>        
      </div>

    {% endif %}
  
</dl>
