{% extends "layout.html" %}

{% block content %}


<div class="flash-card">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">What we need from you</h1>

  <p class="govuk-body">This form will ask about your school or multi-academy trust and what you need help with. It will also ask for your contact details so the supported buying team can get in touch with you.
</p>

  <p class="govuk-body">Your answers will only be used to provide procurement advice and will be held in accordance with our <a href="#">privacy policy</a>.
</p>

  <p class="govuk-body">The more detail you can provide in your answers, the easier it will be for the supported buying team to offer appropriate help and guidance. It may also help you access support more quickly.
</p>

  <p class="govuk-body">You can skip questions where you do not know the answer, or prefer not to say.</p>
  <a href="/request-call-back/v3/interruption-card-expect" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    Next: what happens after you fill in the form
  </a>

</div>

{% endblock %}
