{% extends "layout.html" %}

{% block content %}


<div class="flash-card">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">What happens after you fill in the form</h1>

  <p class="govuk-body">After you fill in the form, your answers will be sent to the supported buying team. A member of the team will review your answers and get in touch with you.
</p>

  <p class="govuk-body">The advice they give may include:
</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>an answer to a specific question you have asked</li>
        <li>a list of frameworks that might meet your needs</li>
        <li>a recommended buying process that you could follow</li>

    </ul>
  <p class="govuk-body">For particularly difficult or complex procurements, the supported buying team may be able to assist you throughout the process.
</p>

  <p class="govuk-body">The team aim to respond within 1 week. Their first response will be sent by email. Once you have received your first response by email you will be able to arrange a telephone consultation.</p>

  <a href="/request-call-back/v3/type-of-establishment" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    Continue to request help
  </a>

</div>

{% endblock %}
