{% extends "layout.html" %}

{% block content %}


<div class="flash-card">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">About the supported buying for schools service</h1>

  <p class="govuk-body">This service is intended to help make buying goods or services easier and cheaper for schools.
.</p>

  <p class="govuk-body">By filling out this form, you can request help from the Department for Education’s supported buying team. This team is made up of procurement experts with experience in buying for schools.</p>

  <p class="govuk-body">They can help you by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>providing guidance and answering questions you may have about buying for your school or multi-academy trust</li>
    <li>helping you find a framework for your purchase</li>
    <li>helping you with legal or compliance issues</li>
    <li>supporting you with particularly difficult or complex procurements</li>
  </ul>

  <p class="govuk-body">Buying from a framework can be quicker and easier than getting bids or quotes because the agreements:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have already been through a full competitive tender process</li>
    <li>have been quality checked</li>
    <li>are checked to make sure they comply with the law</li>
    <li>may have draft specifications and help available</li>
  </ul>
  <a href="/selection" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    Continue
  </a>

</div>

{% endblock %}
