{% extends "layout.html" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">View email</h1>

    <div class="govuk-button-group">
      <a href="/manage-case/v7/case/create-a-new-case.html">
        <button class="govuk-button" data-module="govuk-button">
          Create new case
        </button></a>

      <a href="/manage-case/v7/email/enter-case-id.html">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Link to existing case
        </button></a>
      
      <!--<a href="#">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Save attachments
        </button></a>-->
    </div>

    <!--<span style="">
      <a
        href="/manage-case/v7/case/create-a-new-case"
        role="button"
        draggable="false"
        class="govuk-button"
        data-module="govuk-button"
        >Create a new case</a
      >
    </span>
    <span style="">
      <a
        href="/manage-case/v7/case/create-a-new-case"
        role="button"
        draggable="false"
        class="govuk-button"
        data-module="govuk-button"
        >Create a new case</a
      >
    </span>-->

    <form action="../template-preview-post" method="post">
      <div class="email-preview govuk-body govuk-!-margin-bottom-5">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Recieved from</dt>
            <dd class="govuk-summary-list__value">
              MEHMOOD, Aqib <br />
              < aqib.mehmood@digital.education.gov.uk >
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Recipients</dt>
            <dd class="govuk-summary-list__value">
              sharedProcopsMailbox <br />
              < sharedprocopsmailbox@education.gov.uk >
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Recieved</dt>
            <dd class="govuk-summary-list__value">
              5 Jan 2022&nbsp;&nbsp;10:30am (about 2 hours ago)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Subject</dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Help creating specification</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Attachments</dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="govuk-link">School requirements.pdf (2MB)</a>
            </dd>
          </div>
        </dl>

        <div class="email-preview-body">
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
          <div dir="ltr">
            Hi, <br /><br />
            I need some help. <br /><br />
            I've started a specification but not sure how to get quotes on it.
            <br /><br />
            Can you take a look at the attached specification to see if I've
            provided sufficient information? <br /><br />
            Kind Regards,<br />
            Aqib
            <div><br /></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
