{% extends "layout.html" %} {% block content %}

<div class="govuk-grid-row govuk-width-container">
  <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Success
  </h1>
  <div class="govuk-panel__body">
    The emails have been moved to:<br><strong>Case 000005 - Canberra Primary school <br><br> Assigned to Inna Goodluck</strong>
  </div>
</div>

  <p class"govuk-body">Case 000012 has been closed.</p>
  <br>
    <h1 class="govuk-body-m">
      <p class="govuk-heading-m">Actions</p>
      <!--<p class="govuk-body">You can</p>-->

              <ul class="govuk-list govuk-list">
              <li><a href="/manage-case/v9/case/12/specify">Go to Case 000005</a></li>
              <li><a href="/manage-case/v9/email/notifications-new-case-linked.html">Notifications</a></li>
              <li><a href="/manage-case/v9/case-list/my-cases">My cases</a></li>
              </ul>
    </h1>
     
  </div>
</div>

<!--<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
  
      <h1 class="govuk-panel__title">
       Email successfully linked to
      </h1>

      <div class="govuk-panel__body">
        Case ID<br><strong>000012</strong>
    </div>
  </main>

  </div>
    <h1 class="govuk-body-m">
      <p class="govuk-body">To continue, you can go back to:</p>
              <ul class="govuk-list govuk-list">
              <li><a href="/manage-case/v9/email/notifications.html">Notifications</a></li>
              <li><a href="/manage-case/v9/case-list/my-cases">My cases</a></li>
              </ul>
    </h1>
</div>-->

{% endblock %}
