{% extends "layout_case.html" %}



{% set addressHtml %}
{{ data.school['address-line-1'] }} <br>
{{ data.school['address-line-2'] }} <br>
{{ data.school['address-county'] }} <br>
{{ data.school['address-postcode'] }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ case.school.name }}</h1>
      {{govukTag({
          text: "New",
          classes: "govuk-tag--blue govuk-!-margin-bottom-7 govuk-!-margin-top-1"
        })}}

{% include "../includes/school-details.html" %}

<h3 class="govuk-heading-m">Actions</h3>
<ul class="govuk-list">
  
  {% if not data['procurement-category'] %}
  <li>
    <a class="govuk-link" href="category">Add category</a>
  </li>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {% endif %}        
  <li>
    <a class="govuk-link" href="consultation">Arrange consultation</a>
  </li>
  <span>or</span>
  <li>
    <a class="govuk-link" href="guidance">Send email guidance</a>
  </li>
</ul>


      

    </div>
  </div>
{% endblock %}
