{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

       <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ data.school['school-name'] }}</h1>
      {{govukTag({
          text: "Consultation booked",
          classes: "govuk-tag--purple govuk-!-margin-bottom-7 govuk-!-margin-top-1"
        })}}

{% include "../includes/school-details.html" %}

<h3 class="govuk-heading-m">Actions</h3>
<ul class="govuk-list">
  
  {% if not data['procurement-category'] %}
  <li>
    <a class="govuk-link" href="call-back/category">Add sub-category</a>
  </li>
  {% endif %}        
  <li>
    <a class="govuk-link" href="call-back/task-list">Start consultation</a>
  </li>
</ul>


      

    </div>
  </div>
{% endblock %}
