{% extends "layout.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="type-of-procurement-post" method="post">
        {{ govukRadios({
          classes: "",
          idPrefix: "type-of-procurement",
          name: "type-of-procurement",
          fieldset: {
            legend: {
              text: "Type of procurement",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Framework procurement",
              checked: checked("type-of-procurement", "Framework"),
              text: "Framework"
            },
            {
              value: "Bespoke procurement",
              checked: checked("type-of-procurement", "Bespoke"),
              text: "Bespoke"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}



