{% extends "layout.html" %}

{% block header %}
  {% include "manage-case/v8/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}
    <form action="find-a-case-results" method="post">
        {{ govukInput({
          label: {
            text: "Find a case",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-20",
          hint: {
            text: "Enter the case ID, organisation name, establishment unique reference number (URN) or case owner"
          },
          id: "event-name",
          name: "event-name"
        }) }}
    </form>

    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" onclick="goToPage()">
    Search
    </button>
      
    <script>
        function goToPage() {
                  window.location = "/manage-case/v8/find-a-case-results.html";
                }
    </script>

{% endblock %}


