{% extends "layout_email.html" %}

{% block pageTitle %}
  Email
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
<p>Hi Susan Williams</p>

<p>Thank you for getting in touch with the Get Help Buying for Schools team, and thank you for using our online service to create your catering specification.</p>

<p>The next step is to decide how you want to buy. You can read descriptions of the different ways to buy on GOV.UK: <a href="https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools ">https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools </a></p>

<p>We recommend that you consider buying from a framework recommended by DfE as this can be quicker and easier than running your own process.</p>

<p>You can see a list of catering frameworks recommended by DfE in the Find a framework tool at <a href="https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/find-a-framework/matching-frameworks">https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/find-a-framework/matching-frameworks</a>. Each framework has its own list of suppliers and has been assessed for compliance with procurement regulations, ease of use, suitability and value for money. </p>

<p>If you haven’t used frameworks before, there’s some useful guidance on the GOV.UK site about frameworks and how to use them at <a href="https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/gov/find-the-right-way-to-buy">https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/gov/find-the-right-way-to-buy</a></p>

<p>I hope this helps. If you need any further assistance, please let us know.</p>


<p>Kind regards,
<br>
<br>
Tom Johnson <br>
Procurement Specialist <br>
Get Help Buying For Schools</p>

  </div>
</div>
{% endblock %}
