{% extends "layout_email.html" %}

{% block pageTitle %}
  Email
{% endblock %}

{% block content %}
<p><strong>Subject:</strong> [subject] </p>
<p><strong>From:</strong> [emailaddress]</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="email-logo-container govuk-body">
  <img class="email-logo" height="27" src="/public/images/email-crown-logo.png" alt="">
  <p>Department for Education</p>
</div>
<div class="govuk-grid-row govuk-!-margin-top-5">
  <div class="govuk-grid-column-two-thirds">
    
<p>Hi ((Firstname Surname))</p>

<p>Thank you for getting in touch with the Get Help Buying For Schools team.</p>

<p>Social value is a way for schools to add extra benefits for their school or the wider community as part of the procurement process. You don’t need to add social value requirements to your specification, but we do recommend it.</p>

<p>There are lots of opportunities for social value in a school catering contract. Some schools have asked their catering provider to use locally sourced food, to support jobs in their area and help fight climate change by reducing food miles. Another example is a primary school that asked their new catering provider to offer community cooking classes.</p>

<p>If you don’t already have social value aims in place, you could ask service providers for their ideas, or ask for examples of what they have done in other schools. You may also want to ask parents, governors or local community leaders for suggestions.</p>

<p>Adding social value to your catering specification helps set expectations with potential catering providers and can help reduce the need to negotiate later in the process.</p>

<p>I hope this helps and wish you the best of luck with your catering procurement.</p>

<p>Kind regards,
<br>
<br>
Tom Johnson <br>
Procurement Specialist <br>
Get Help Buying For Schools</p>

  </div>
</div>
{% endblock %}
