{% extends "layout_email.html" %}

{% block pageTitle %}
  Email
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
<p>Hi Susan Williams</p>

<p>Thank you for getting in touch with the Get Help Buying For Schools team, and thank you for using our online service to create your catering specification.</p>

<p>A framework is a way of buying goods and services. Each framework has its own list of suppliers, and each supplier on the framework has been assessed for compliance with procurement regulations, ease of use, suitability and value for money. Frameworks also have guidance on how to buy.</p>

<p>The Department for Education has a number of recommended frameworks that schools can use. You can see a list of catering frameworks recommended by DfE in the Find a framework tool at <a href="https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/find-a-framework/matching-frameworks">https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/find-a-framework/matching-frameworks</a>.</p>

<p>There are lots of advantages to using frameworks. Using a framework:</p>

<ul class="govuk-list govuk-list--bullet">
  
  <li>reduces how much time it takes to do your procurement</li>
  <li>ensures compliance with procurement law (Public Contract Regulations 2015)</li>
  <li>contract terms are already in place</li>
</ul>

<p>While there are lots of benefits to using a framework, it might not be right for you in some situations:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>only suppliers that are listed on a framework can be invited to bid, however, in certain circumstances, suppliers can be added</li>
  <li>you may not be able to make significant changes to the contract terms</li>
</ul>

<p>If you haven’t used frameworks before, there’s some useful guidance on the GOV.UK site about frameworks and how to use them at <a href="https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/gov/find-the-right-way-to-buy">https://buy-for-your-school-staging.herokuapp.com/beta/phase-5/gov/find-the-right-way-to-buy</a></p>

<p>I hope this helps. If you need any further assistance, please let us know.</p>


<p>Kind regards,
<br>
<br>
Tom Johnson <br>
Procurement Specialist <br>
Get Help Buying For Schools</p>

  </div>
</div>
{% endblock %}
