{% extends "layout_case.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before updating procurement details</h1>

      <form action="add-procurement-details-post" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Required agreement type"
            },
            value: {
              text: data['agreement-type']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Route to market"
            },
            value: {
              text: data['route']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Reason for route to market"
            },
            value: {
              text: data['reason']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Framework name"
            },
            value: {
              text: data['framework-name']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date of procurement"
            },
            value: {
              text: data['procurement-start-date-day'] + " " + data['procurement-start-date-month'] + " " + data['procurement-start-date-year']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "End date of procurement"
            },
            value: {
              text: data['procurement-end-date-day'] + " " + data['procurement-end-date-month'] + " " + data['procurement-end-date-year']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Procurement stage"
            },
            value: {
              text: data['stage']
            },
            actions: {   
              items: [
                {
                  href: "add-procurement-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Submit"
      }) }}

      </form>
      
    </div>
  </div>
{% endblock %}
