{% extends "layout_case.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before updating request details</h1>


      <form action="specify#request-details" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Type"
            },
            value: {
              text: "Procurement"
            },
            actions: {
              items: [
                {
                  href: "category",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Category"
            },
            value: {
              text: "Software and service"
            },
            actions: {   
              items: [
                {
                  href: "category",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Submit"
      }) }}

      </form>
      
    </div>
  </div>
{% endblock %}
