{% extends "layout.html" %}

{% block header %}
  {% include "manage-case/v11/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">



      <h1 class="govuk-heading-l">Contact with school</h1>

      <form action="contact-post" method="post">

        {{ govukRadios({
          idPrefix: "type-of-contact",
          name: "type-of-contact",
          fieldset: {
            legend: {
              text: "Type of contact",
            classes: "govuk-label--m"
            }
          },
          items: [
            {
              value: "Phone call",
              text: "Phone call"
            },
            {
              value: "Email from school",
              text: "Email from school"
            },
            {
              value: "Email to school",
              text: "Email to school"
            }
          ]
        }) }}

        {{ govukTextarea({
          name: "contact-details",
          id: "contact-details",
          value: data['contact-details'],
          label: {
            text: "Contact details",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Add details of the phone call or copy and paste the email here"
          }
        }) }}






        {{ govukButton({
          text: "Save"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
