{% extends "layout_case.html" %}
<link
  href="public/autocomplete/accessible-autocomplete.min.css"
  media="all"
  rel="stylesheet"
  type="text/css"
/>
<script src="/public/autocomplete/accessible-autocomplete-min.js"></script>

{% block pageScripts %}

<script type="text/javascript">
  function customSuggest(query, syncResults) {
    var results = [
      {
        URN: "100000",
        EstablishmentName: "The Aldgate School",
        Postcode: "EC3A 5DE",
      },
      {
        URN: "100002",
        EstablishmentName: "St Paul's Cathedral School",
        Postcode: "EC4M 9AD",
      },
      {
        URN: "100005",
        EstablishmentName: "Thomas Coram Centre",
        Postcode: "WC1N 2NY",
      },
      {
        URN: "100006",
        EstablishmentName: "CCfL Key Stage 4 PRU",
        Postcode: "NW3 2NY",
      },
      {
        URN: "100007",
        EstablishmentName: "Camden Primary Pupil Referral Unit",
        Postcode: "NW1 3EX",
      },
      {
        URN: "100008",
        EstablishmentName: "Argyle Primary School",
        Postcode: "WC1H 9EG",
      },
      {
        URN: "100009",
        EstablishmentName: "Beckford Primary School",
        Postcode: "NW6 1QL",
      },
      {
        URN: "100010",
        EstablishmentName: "Brecknock Primary School",
        Postcode: "NW1 9AL",
      },
      {
        URN: "100011",
        EstablishmentName: "Brookfield Primary School",
        Postcode: "N19 5DH",
      },
      {
        URN: "100012",
        EstablishmentName: "Carlton Primary School",
        Postcode: "NW5 4AX",
      },
    ];

    syncResults(
      query
        ? results.filter(function (result) {
            var resultContains =
              result.URN.toLowerCase().indexOf(query.toLowerCase()) !== -1;
            var endonymContains =
              result.EstablishmentName.toLowerCase().indexOf(
                query.toLowerCase()
              ) !== -1;
            return resultContains || endonymContains;
          })
        : []
    );
  }

  function inputValueTemplate(result) {
    return (
      result &&
      "URN: " +
        result.URN +
        ", " +
        result.EstablishmentName +
        ", " +
        result.Postcode
    );
  }

  function suggestionTemplate(result) {
    return (
      result &&
      "URN: " +
        result.URN +
        ", " +
        "<strong>" +
        result.EstablishmentName +
        "</strong>" +
        ", " +
        result.Postcode
    );
  }

  element = document.querySelector("#my-autocomplete-container");
  id = "autocomplete-customTemplates";
  accessibleAutocomplete({
    element: element,
    id: id,
    name: "result",
    source: customSuggest,
    templates: {
      inputValue: inputValueTemplate,
      suggestion: suggestionTemplate,
    },
  });

  autocomplete = document.querySelector("#autocomplete-customTemplates");
  establishmentURN = document.querySelector("#establishment-urn");
  establishmentName = document.querySelector("#establishment-name");
  establishmentPostcode = document.querySelector("#establishment-postcode");

  autocomplete.addEventListener("blur", (event) => {
    var schoolParams = autocomplete.value.split(",");
    console.log(schoolParams);
    console.log("left the target");
    console.log(autocomplete.value);
    establishmentURN.value = schoolParams[0].slice(4);
    establishmentName.value = schoolParams[1];
    establishmentPostcode.value = schoolParams[2];
  });
</script>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="key-info"></div>
</div>

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#nationality">Please select a procurement category</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Create a new case</h1>

    <form action="check-new-case-details" method="post">
      <div class="govuk-form-group govuk-!-width-three-quarters">
        <label for="my-autocomplete" class="govuk-label"
          >Establishment URN</label
        >
        <div id="my-autocomplete-container"></div>
      </div>

      <input
        type="hidden"
        id="establishment-urn"
        name="establishment-urn"
        value=""
      />

      <input
        type="hidden"
        id="establishment-name"
        name="establishment-name"
        value=""
      />

      <input
        type="hidden"
        id="establishment-postcode"
        name="establishment-postcode"
        value=""
      />

      {{ govukInput({ label: { text: "Contact name" }, classes:
      "govuk-!-width-three-quarters", id: "contact-name", name: "contact-name" }) }} {{
      govukInput({ label: { text: "Contact email" }, classes:
      "govuk-!-width-three-quarters", id: "contact-email", name: "contact-email" }) }}
      {{ govukInput({ label: { text: "Contact phone number (optional)" },
      classes: "govuk-!-width-three-quarters", id: "contact-phone", name:
      "contact-phone" }) }}

      <br />

      <div class="govuk-form-group govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint nationality-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Request type
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-label">
            Is the request related to a procurement category?
          </div>
          <br>
          <div
            class="govuk-radios govuk-radios--inline"
            data-module="govuk-radios"
          >
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="yesradio"
                name="changed-name"
                type="radio"
                value="yes"
                onclick="toggleCategory()"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="yesradio"
              >
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input
                class="govuk-radios__input"
                id="noradio"
                name="changed-name"
                type="radio"
                value="no"
                onclick="toggleCategory()"
              />
              <label
                class="govuk-label govuk-radios__label"
                for="noradio"
              >
                No
              </label>
            </div>
            <div class="govuk-form-group govuk-inset-text" id="showcategory" style="display:none">
        
        <label
          class="govuk-label"
          style="position: relative; left: 0px"
          for=""
        >

        <br>

          Procurement category
          <p id="nationality-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Please select a procurement category
        </p>
        </label>
        <select
          class="govuk-select govuk-select--error"
          style="position: relative; left: 0px"
          id="category"
          name="category"
        >
          <option selected="selected" value="Please select">Please select</option>
          <optgroup label="Business services">
            <option value="Audit">Audit</option>
            <option value="Books">Books</option>
            <option value="Insurance">Insurance</option>
            <option value="Leasing">Leasing</option>
            <option value="Multi Function Devices (MFDs)">
              Multi Function Devices (MFDs)
            </option>
            <option value="Spend analysis">Spend analysis</option>
            <option value="Stationery">Stationery</option>
          </optgroup>
          <optgroup label="Facilities management">
            <option value="Catering">Catering</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Build, ground and supplies">
              Build, ground and supplies
            </option>
            <option value="Furniture">Furniture</option>
          </optgroup>
          <optgroup label="ICT">
            <option value="Hardware and commodities">
              Hardware and commodities
            </option>
            <option value="Software and service">Software and service</option>
          </optgroup>
          <optgroup label="Professional services">
            <option value="Legal">Legal</option>
            <option value="Payroll">Payroll</option>
            <option value="Recruitment">Recruitment</option>
          </optgroup>
          <optgroup label="Utilities">
            <option value="Energy">Energy</option>
            <option value="Water">Water</option>
          </optgroup>
          <optgroup label="Or">
            <option value="Not yet known">Not yet known</option>
            <option value="Other">Other</option>
          </optgroup>
        </select>
      </div>
          </div>
        </fieldset>
        

    </div>

    <script>
    function toggleCategory() {
    // Get the radio
    var radioYes = document.getElementById("yesradio");
    var radioNo = document.getElementById("noradio");
    // Get the output category dropdown
    var showCategory = document.getElementById("showcategory");
    // If the checkbox is checked, display the output category dropdown
    if (radioNo.checked == true){
    showCategory.style.display = "none";
    }
    if (radioYes.checked == true){
    showCategory.style.display = "block";
    } else {
    showCategory.style.display = "none";
      }
    }
    </script>

      <!--<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you know the category your request belongs to?
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select one which best describes your request. Maybe further hint text to guide user on what 'Not applicable', 'Not yet known' and 'Not supplied' are 
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">

      <div class="govuk-form-group" id="showcategory" style="">
        <label
          class="govuk-label"
          style="position: relative; left: 0px"
          for="sort"
        >
          Category
        </label>
        <select
          class="govuk-select"
          style="position: relative; left: 0px"
          id="sort"
          name="category"
        >
          <option selected="selected" value="Not supplied">Select</option>
            <option value="Audit">Not applicable</option>
            <option value="Audit">Not yet known</option>
          <optgroup label="Business services">
            <option value="Audit">Audit</option>
            <option value="Books">Books</option>
            <option value="Insurance">Insurance</option>
            <option value="Leasing">Leasing</option>
            <option value="Multi Function Devices (MFDs)">
              Multi Function Devices (MFDs)
            </option>
            <option value="Spend analysis">Spend analysis</option>
            <option value="Stationery">Stationery</option>
          </optgroup>
          <optgroup label="Facilities management">
            <option value="Catering">Catering</option>
            <option value="Cleaning">Cleaning</option>
            <option value="Build, ground and supplies">
              Build, ground and supplies
            </option>
            <option value="Furniture">Furniture</option>
          </optgroup>
          <optgroup label="ICT">
            <option value="Hardware and commodities">
              Hardware and commodities
            </option>
            <option value="Software and service">Software and service</option>
          </optgroup>
          <optgroup label="Professional services">
            <option value="Legal">Legal</option>
            <option value="Payroll">Payroll</option>
            <option value="Recruitment">Recruitment</option>
          </optgroup>
          <optgroup label="Utilities">
            <option value="Energy">Energy</option>
            <option value="Water">Water</option>
          </optgroup>
          <optgroup label="Or">
            <option value="Other">Other</option>
          </optgroup>
        </select>
      </div>
      
      </div>
      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Add later
        </label>
      </div>
    </div>
  </fieldset>
</div>-->

      <br>
      <h2 class="govuk-heading-l">Hub migration case information</h2>
      <p>
        The following fields are only for NW Hub cases that are being migrated.
      </p>

      {{ govukInput({ label: { text: "Identification number (optional)" }, hint:
      { text: "We will use the existing Hub identification number to link the
      existing case data to a new case number" }, classes:
      "govuk-input--width-10", id: "hub-identification-number", name:
      "hub-identification-number" }) }} {{ govukDateInput({ id:
      "procurement-estimated-completion-date", namePrefix:
      "procurement-estimated-completion-date", fieldset: { legend: { text:
      "Procurement estimated completion date (optional)" } }, hint: { text:
      "Enter the procurement estimated completion date supplied from the Hub" }
      }) }} {{ govukInput({ id: "savings-total-estimate-hubs", name:
      "savings-total-estimate-hubs", label: { text: "Estimated total savings
      (optional)" }, hint: { text: "Enter the estimated savings supplied from
      the Hub" }, prefix: { text: "£" }, classes: "govuk-input--width-5",
      spellcheck: false }) }} {{ govukTextarea({ name: "case-notes", id:
      "case-notes", label: { text: "Hub notes / comments (optional)" }, hint: {
      text: "Enter a summary of the query from the Hub case" } }) }} {{
      govukTextarea({ name: "query", id: "query", label: {
      text: "Progress notes from CRM (optional)" }, hint: { text: "Enter any
      additional information relating to the correspondance between the Hub and
      the establishment" } }) }} {{ govukButton({ text: "Save and continue" })
      }}
    </form>
  </div>
</div>
{% endblock %}
