{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Case management - call back
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>Used for procurement ops to contact user to find out more about their requirements.</p>
      <h2 class="govuk-heading-m">
        Version 6
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added emails sent directly from case management</li>
        <li>Email templates</li>
        <li>Non - templated emails</li>
        <li>Removed search for email templates</li>
        <li>Add a new case - 1st iteration</li>
        <li>Add contract, procurement and saving data</li>
        <li>Added find a case</li>
        <li>Header is more in line with production</li>
      </ul>

      <h3 class="govuk-heading-s">Design notes</h3>
      <p><a href="https://lucid.app/lucidspark/8bc8a523-dbca-494f-9c78-9e749d9e7924/edit?shared=true#">Case management research planning</a></p>
      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v6/case-list/my-cases'
      }) }}

      {% set v5 %}

      <p>First release to support request for help through specify service. </p>

      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Updated case notes and reply to school</li>
        <li>Added ability to asign to user</li>
        <li>Added new cases and my cases views</li>
      </ul>
      

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v5/case-list'
      }) }}

      {% endset %}

      {% set v4 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Added scenarios for specify support journey.</p>
      

      <h3 class="govuk-heading-s">Research notes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457361919131330&cot=14">UR affinity sort</a></li>
        <li><a href="https://drive.google.com/drive/u/2/folders/1lIOxa6biOW5R5VAoGpikx1WVBeRNk6t_">UR observer notes</a></li>
      </ul>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v4/case-list'
      }) }}

      {% endset %}


      {% set v3 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement ops team.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Split contact form into initial triage and consultaion</li>
        <li>Added case list</li>
        <li>Added status based workflow</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v3/case-list'
      }) }}


      {% endset %}




      {% set v2 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement ops team.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added detailed questions in call back form.</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359682518159&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
   
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v2/new-case/task-list'
      }) }}

      {% endset %}





      {% set v1 %}
        <p>First version, no changes.</p>
      

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Information about the research.</p>
        <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359051393820&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
          {{ govukButton({
          text: 'View prototype',
          href: '/manage-case/v1/new-case/task-list'
        }) }}
      {% endset %}

        


      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 5 - first release' },
            content: { html: v5 }
          },{
            heading: { text: 'Version 4' },
            content: { html: v4 }
          },{
            heading: { text: 'Version 3' },
            content: { html: v3 }
          },{
            heading: { text: 'Version 2' },
            content: { html: v2 }
          },{
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}



    </div>
  </div>
{% endblock %}
