{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Case management - call back
      </h1>
    </div>
    
    
    <div class="govuk-grid-column-two-thirds">

      <!--<p>Used for procurement ops to contact user to find out more about their requirements.</p>-->
      <h2 class="govuk-heading-m">
        Version 7 - Sprint 29 to Sprint 32
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Ability for incoming email attachments to be stored with a case in CM</li>
        <li>Case worker can save email attachments to a case within CM</li>
        <li>View files (saved attachments) linked to a case</li>
        <li>Notification alert when a new email arrives - 'action' status</li>
        <li>Unread email status on case history to alert user of a new email</li>
        <li>Case worker can see the case that an email is auto linked to as part of the email view</li>
        <li>Case worker can view email attachments within CM</li>
        <li>Case worker can mark an email as read or unread from email preview</li>
        <li>Ability to move a new email case into an existing case</li>
        <!--<li>New case shows contact email if organisation name unknown - to support Auto Create - WIP</li>-->
        <li>View case 'assigned to' in find a case search results</li>
        <li>Specifying request type and procurement category on 'Create a Case'</li>
        <li>Removing a procurement category from 'Request details' after specifying procurement category</li>
        <li>Notifications - UI for incoming Email integration into CM</li>
        <li>Notifications - Case worker can create a case as a result on an email being received</li>
        <li>Notifications - Remove link to existing case from email preview</li>
        <li>Notifications - Remove link to existing case from email preview</li>
      </ul>

      <h3 class="govuk-heading-s">Design notes, user flows and journeys</h3>
      <p><a href="https://lucid.app/lucidspark/07d0eab5-cbae-43ec-9bda-5f3f476d8bc2/edit?invitationId=inv_085d2727-f88f-4def-8d9d-4296850165b2">View on Lucid board</a></p>
      <h3 class="govuk-heading-s">Research notes</h3>
      <p>Case auto-create functionality for incoming (new) cases after feedback from ProcOps suggested that the Notifications UI added extra steps. Notifications UI still relevant for management. Speak to Rachel Smith for further insights.</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v7/case-list/my-cases'
      }) }}

      {% set v6 %}

      <p>Used for procurement ops to contact user to find out more about their requirements.</p>

      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added emails sent directly from case management</li>
        <li>Email templates</li>
        <li>Non - templated emails</li>
        <li>Removed search for email templates</li>
        <li>Add a new case - 1st iteration</li>
        <li>Add contract, procurement and saving data</li>
        <li>Added find a case</li>
        <li>Header is more in line with production</li>
      </ul>

      <h3 class="govuk-heading-s">Design notes</h3>
      <p><a href="https://lucid.app/lucidspark/8bc8a523-dbca-494f-9c78-9e749d9e7924/edit?shared=true#">Case management research planning</a></p>
      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v6/case-list/my-cases'
      }) }}

      {% endset %}

      {% set v5 %}

      <p>First release to support request for help through specify service. </p>

      <h3 class="govuk-heading-s">Changes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Updated case notes and reply to school</li>
        <li>Added ability to asign to user</li>
        <li>Added new cases and my cases views</li>
      </ul>
      

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v5/case-list'
      }) }}

      {% endset %}

      {% set v4 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Added scenarios for specify support journey.</p>
      

      <h3 class="govuk-heading-s">Research notes</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457361919131330&cot=14">UR affinity sort</a></li>
        <li><a href="https://drive.google.com/drive/u/2/folders/1lIOxa6biOW5R5VAoGpikx1WVBeRNk6t_">UR observer notes</a></li>
      </ul>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v4/case-list'
      }) }}

      {% endset %}


      {% set v3 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement ops team.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Split contact form into initial triage and consultaion</li>
        <li>Added case list</li>
        <li>Added status based workflow</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v3/case-list'
      }) }}


      {% endset %}




      {% set v2 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement ops team.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added detailed questions in call back form.</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359682518159&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
   
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v2/new-case/task-list'
      }) }}

      {% endset %}





      {% set v1 %}
        <p>First version, no changes.</p>
      

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Information about the research.</p>
        <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359051393820&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
          {{ govukButton({
          text: 'View prototype',
          href: '/manage-case/v1/new-case/task-list'
        }) }}
      {% endset %}

        


      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 6' },
            content: { html: v6 }
          },{
            heading: { text: 'Version 5 - first release' },
            content: { html: v5 }
          },{
            heading: { text: 'Version 4' },
            content: { html: v4 }
          },{
            heading: { text: 'Version 3' },
            content: { html: v3 }
          },{
            heading: { text: 'Version 2' },
            content: { html: v2 }
          },{
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}



    </div>
  </div>
{% endblock %}
