{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Case management - call back
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>Used for procurement ops to contact user to find out more about their requirements.</p>
      <h2 class="govuk-heading-m">
        Version 4
      </h2>

      <h3 class="govuk-heading-s">Changes</h3>
      <p>No changes yet</p>
      

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v4/case-list'
      }) }}


      {% set v3 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement ops team.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Split contact form into initial triage and consultaion</li>
        <li>Added case list</li>
        <li>Added status based workflow</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p>No research done yet</p>
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v3/case-list'
      }) }}


      {% endset %}




      {% set v2 %}

      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement ops team.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Added detailed questions in call back form.</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359682518159&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
   
      <!--<p><a href="#0">View user research report</a>.<p>-->

      {{ govukButton({
        text: 'View prototype',
        href: '/manage-case/v2/new-case/task-list'
      }) }}

      {% endset %}





      {% set v1 %}
        <p>First version, no changes.</p>
      

        <h3 class="govuk-heading-s">Research notes</h3>
        <p>Information about the research.</p>
        <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359051393820&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
          {{ govukButton({
          text: 'View prototype',
          href: '/manage-case/v1/new-case/task-list'
        }) }}
      {% endset %}

        


      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 3' },
            content: { html: v3 }
          },{
            heading: { text: 'Version 2' },
            content: { html: v2 }
          },{
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}



    </div>
  </div>
{% endblock %}
