{% extends "layout.html" %} {% block content %}

<div class="govuk-grid-row govuk-width-container">
  <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Success
  </h1>
  <div class="govuk-panel__body">
   Filename.pdf has been shared with <br> <strong>johnsmith@eliotbank.sch.uk <br> at Eliot Bank Primary School</strong>
  </div>
</div>

        <p class="govuk-body">johnsmith@eliotbank.sch.uk at Eliot Bank Primary School will be able to download the file using the link you shared.</p>

        <br>

    <h1 class="govuk-body-m">
      <p class="govuk-heading-m">Actions</p>
              <ul class="govuk-list govuk-list">
              <li><a href="/manage-case/v10/case/17/specify#files">View files</a></li>
              </ul>
    </h1>
     
  </div>
</div>

{% endblock %}
