{% extends "layout.html" %}

{% block header %}
  {% include "manage-case/v9/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}

<h2 class="govuk-heading-l">Find an existing case</h2>

<p class="govuk-body">This should be the case you want to move the emails to.</p>

<!--{{ govukInsetText({
  text: "This should be the case you want to move the emails to."
}) }}-->

    <form action="find-a-case-results" method="post">
        {{ govukInput({
          classes: "govuk-input--width-40",
          hint: {
            text: "Enter the case ID, organisation name, URN, UKPRN or case owner"
          },
          id: "event-name",
          name: "event-name"
        }) }}

    </form>

    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" onclick="goToPage()">
    Continue
    </button>
      
    <script>
        function goToPage() {
                  window.location = "/manage-case/v9/email/merge-question.html";
                }
    </script>

{% endblock %}


