{% extends "layout_noback.html" %}

{% block content %}
<h1 class="govuk-heading-l">All cases</h1>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"> Organisation </th>
          <th class="govuk-table__header" scope="col"> Status </th>
          <th class="govuk-table__header" scope="col"> Received </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        {% for case in cases %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="case/{{case.id}}/{{ case.status | formatCaseListUrl }}" class="govuk-link--no-visited-state">{{case.school.name}}</a>
          </td>
          <td class="govuk-table__cell">
            {{govukTag({
              text: case.status,
              classes: case.status | formatCaseTagColour
            })}}
          </td>
          <td class="govuk-table__cell">
            {{ 1 | daysAgo }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
