{% extends "layout_case.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Existing contract details</h1>

      <form action="contract-details-post" method="post">

        {{ govukTextarea({
          name: "contract-cost",
          id: "contract-cost",
          label: {
            text: "What is the current cost of the contract?",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "contract-worked-well",
          id: "contract-worked-well",
          label: {
            text: "What has worked well with the contract?",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        {{ govukTextarea({
          name: "contract-kpis",
          id: "contract-kpis",
          label: {
            text: "How has the contract worked against and KPIs (Key Perfotmance Indicators) or SLAs (Service Level Agreeemnts)?",
            classes: "govuk-label--m",
            isPageHeading: false
          }
        }) }}

        
        {{ govukDateInput({
          id: "contract-end-date",
          namePrefix: "contract-end-date",
          fieldset: {
            legend: {
              text: "When does the contract end?",

              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 12 11 2021"
          }
        }) }}


        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "contract-extendable",
          name: "contract-extendable",
          fieldset: {
            legend: {
              text: "Can the contract be extended?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        
        {{ govukButton({
          text: "Save and continue"
        }) }}


      </form>


    </div>
  </div>
{% endblock %}



