<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m">Existing contract</h2>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End date
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.existingContract.endDate %}
        {{ case.existingContract.endDate | formatDate or "-" }}
      {% else %}
        -
      {% endif %}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract duration
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.existingContract.duration or "-" }}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract spend
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.existingContract.spend %}
        £{{ case.existingContract.spend }}
      {% else %}
        -
      {% endif %}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Supplier
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.existingContract.supplier or "-" }}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>   
</dl>

<h2 class="govuk-heading-m">New contract details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
    {% if case.newContract.startDate %}
      {{ case.newContract.startDate | formatDate or "-" }}
    {% else %}
      -
    {% endif %}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract duration
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.newContract.duration or "-" }}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract spend
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.newContract.spend %}
        £{{ case.newContract.spend }}
      {% else %}
        -
      {% endif %}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Supplier
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.newContract.supplier or "-" }}
    </dd>    
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    
  </div>    
</dl>