<h2 class="govuk-heading-m">Procurement details - <a href="add-procurement-details">change</a></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Required Agreement type
    </dt>
    <dd class="govuk-summary-list__value">
        {{ case.procurementDetails.agreementType or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd> #}   
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Route to market
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.procurementDetails.route or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>   #} 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reason for route to market
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.procurementDetails.reason or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>#}    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Framework name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.procurementDetails.framework or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd> #}   
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Procurement start date
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.procurementDetails.startDate %}
        {{ case.procurementDetails.startDate | formatDate or "-" }}
      {% else %}
        -
      {% endif %}
    </dd>  
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    #}
  </div>  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Procurement end date
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.procurementDetails.endDate %}
        {{ case.procurementDetails.endDate | formatDate or "-" }}
      {% else %}
        -
      {% endif %}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>  #}  
  </div>    
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Procurement stage
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.procurementDetails.stage or "-" }}
    </dd>    
   {# <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-procurement-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    #}
  </div>    
</dl>

<h2 class="govuk-heading-m">Existing contract details - <a href="add-existing-contract-details">change</a></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End date
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.existingContract.endDate %}
        {{ case.existingContract.endDate | formatDate or "-" }}
      {% else %}
        -
      {% endif %}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>   #} 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract duration
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.existingContract.duration or "-" }}
    </dd>    
   {# <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>  #}  
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract spend
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.existingContract.spend %}
        £{{ case.existingContract.spend }}
      {% else %}
        -
      {% endif %}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>   #} 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Supplier
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.existingContract.supplier or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-existing-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    #}
  </div>   
</dl>

<h2 class="govuk-heading-m">New contract details - <a href="add-new-contract-details">change</a></h2>


<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
    {% if case.newContract.startDate %}
      {{ case.newContract.startDate | formatDate or "-" }}
    {% else %}
      -
    {% endif %}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>  #}  
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract duration
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.newContract.duration or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>    #}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contract spend
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.newContract.spend %}
        £{{ case.newContract.spend }}
      {% else %}
        -
      {% endif %}
    </dd>    
   {# <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>  #}  
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Supplier
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.newContract.supplier or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-new-contract-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>   #} 
  </div>    
</dl>

<h2 class="govuk-heading-m">Savings details - <a href="add-saving-details">change</a></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Saving status
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.savingDetails.status or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-saving-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>  #}  
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Saving estimate method used
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.savingDetails.estimateMethod or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-saving-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd> #}   
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Saving actual method used
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.savingDetails.estimateMethod or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-saving-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>   #} 
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Saving estimate
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.savingDetails.estimate or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-saving-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>   #} 
  </div>  
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Saving actual
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.savingDetails.actual or "-" }}
    </dd>    
    {#<dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="add-saving-details">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </dd>  #}  
  </div>    
</dl>