{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Request help with buying
      </h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <p>Entry point into assisted buying service. Used to capture the contact details of the user requesting help, their school and their buying needs.</p>
      <p>The information given in this form is used by the supported buying team to make an initial assessment of the school's needs and assign the case to the most appropriate member of the team.</p>

      <h2 class="govuk-heading-m">
        Version 4
      </h2>
      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following user research sessions:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>No changes yet</li>
      </ul>

      

      {{ govukButton({
        text: 'View prototype',
        href: 'request-call-back/v4/start'
      }) }}

      {% set v3 %}

      <h2 class="govuk-heading-m">
        Version 3
      </h2>
      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following user research sessions:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>added school look up (using get information about schools data)</li>
        <li>updated start page content to make service purpose and eligibility clearer</li>
        <li>added interuption card pages so users who skip the start page understand the service</li>
        <li>added content around contact details and use of data to reassure users that they won't get marketing calls or emails</li>
        <li>new version of "type of support"</li>
        <li>updated series of questions following type of support question</li>
      </ul>

      <h3 class="govuk-heading-s">Research notes</h3>
      <p><a href="https://docs.google.com/presentation/d/146vcSi4pRxfbagmVwTNZMSYEluoqnoZ3WRV7-J3V2fA/edit?usp=sharing">User research report</a>
      <p><a href="https://drive.google.com/drive/folders/1x22BHeBmcN3gNOQcZWpJfFs-78InaZDD?usp=sharing">Observer notes</a></p>
      {{ govukButton({
        text: 'View prototype',
        href: 'request-call-back/v3/start'
      }) }}

      {% endset %}

      



      {% set v2 %}
      <h3 class="govuk-heading-s">Changes</h3>
      <p>Updates following co-design session with procurement operations team:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>updated contact details</li>
        <li>added "type of support" question</li>
        <li>added routing based on type of support</li>
      </ul>


      <h3 class="govuk-heading-s">Research notes</h3>

      <p><a href="https://docs.google.com/presentation/d/146vcSi4pRxfbagmVwTNZMSYEluoqnoZ3WRV7-J3V2fA/edit?usp=sharing">User research report</a></p>

      {{ govukButton({
        text: 'View prototype',
        href: 'request-call-back/v2/start'
      }) }}
      {% endset %}





      {% set v1 %}


        <h3 class="govuk-heading-s">Changes</h3>
        <p>First version, no changes.</p>

        <h3 class="govuk-heading-s">Research notes</h3>
        <p><a href="https://miro.com/app/board/o9J_lHuWMxw=/?moveToWidget=3074457359051393820&cot=14" target="_blank">Notes from co-design with procurement ops</a> </p>
        <!--<p><a href="#0">View user research report</a>.<p>-->

        {{ govukButton({
          text: 'View prototype',
          href: 'request-call-back/v1/start'
        }) }}

      {% endset %}

      {{ govukAccordion({
        items: [
          {
            heading: { text: 'Version 3' },
            content: { html: v3 }
          },{
            heading: { text: 'Version 2' },
            content: { html: v2 }
          },{
            heading: { text: 'Version 1' },
            content: { html: v1 }
          }
        ]
      }) }}



    </div>
  </div>
{% endblock %}
