{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="suppliers" method="post">
        <span class="govuk-caption-l">About your procurement</span>

        {{ govukInput({
          id: "budget",
          name: "budget",
          label: {
            text: "What is the budget for the goods or service?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter the budget over the whole contract, if you know it. Having this information can help the supported buying team give you better advice. It does not need to be exact."
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        <p>
          <a href="suppliers">I do not know my budget</a>
        </p>

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
