{% extends "layout.html" %}



{% set addressHtml %}
{{ data['address-line-1'] }} <br>
{{ data['address-line-2'] }} <br>
{{ data['address-county'] }} <br>
{{ data['address-postcode'] }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers and send your request for help</h1>


      {% set schoolAddressHtml %}
      {{ data.giasSchoolData.Street | formatWithComma }}
                {{ data.giasSchoolData.Locality | formatWithComma }}
                {{ data.giasSchoolData.Address3 | formatWithComma }}
                {{ data.giasSchoolData.Town | formatWithComma }}
                {{ data.giasSchoolData['County (name)'] | formatWithComma }}
                {{ data.giasSchoolData.Postcode }}

      {% endset %}
      {% if data['type-of-establishment'] == "school" %}
      <h2 class="govuk-heading-m">About your school</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "School name"
            },
            value: {
              text: data.giasSchoolData.EstablishmentName
            },
            actions: {
              items: [
                {
                  href: "school-name",
                  text: "Change",
                  visuallyHiddenText: "school name"
                }
              ]
            }
          },
          {
            key: {
              text: "School address"
            },
            value: {
              text: schoolAddressHtml | safe
            
            }
          }
        ]
      }) }}

      {% endif %}


      {% set establishmentAddressHtml %}
      {{ data.giasMatData['Group Street'] | formatWithComma }}
                    {{ data.giasMatData['Group Locality'] | formatWithComma }}
                    {{ data.giasMatData['Group Address 3'] | formatWithComma }}
                    {{ data.giasMatData['Group Town'] | formatWithComma }}
                    {{ data.giasMatData['Group Postcode'] | formatWithComma }}

      {% endset %}
      {% if data['type-of-establishment'] == "mat" %}
      <h2 class="govuk-heading-m">About your Establishment</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Establishment name"
            },
            value: {
              text: data.giasMatData['Group name']
            },
            actions: {
              items: [
                {
                  href: "school-name",
                  text: "Change",
                  visuallyHiddenText: "school name"
                }
              ]
            }
          },
          {
            key: {
              text: "Establishment address"
            },
            value: {
              text: establishmentAddressHtml | safe
            
            }
          }
        ]
      }) }}

      {% endif %}


      <h2 class="govuk-heading-m">About you</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Your name"
            },
            value: {
              text: data['your-name']
            },
            actions: {
              items: [
                {
                  href: "your-name",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Your phone number"
            },
            value: {
              text: data['contact-by-phone']
            },
            actions: {
              items: [
                {
                  href: "contact-details",
                  text: "Change",
                  visuallyHiddenText: "your phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Your email address"
            },
            value: {
              text: data['contact-by-email']
            },
            actions: {
              items: [
                {
                  href: "contact-details",
                  text: "Change",
                  visuallyHiddenText: "your email"
                }
              ]
            }
          }
        ]
      }) }}




      <h2 class="govuk-heading-m">About your request for support</h2>

      {% if data['type-of-help'] ==  'compliance' %}
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "What do you need help with?"
              },
              value: {
                text: "Compliance or legal matters"
              },
              actions: {
                items: [
                  {
                    href: "type-of-help",
                    text: "Change",
                    visuallyHiddenText: "what you need help with"
                  }
                ]
              }
            },
            {
              key: {
                text: "How can we help?"
              },
              value: {
                text: data['compliance-help--detail']
              },
              actions: {
                items: [
                  {
                    href: "compliance-help",
                    text: "Change",
                    visuallyHiddenText: "how we can help"
                  }
                ]
              }
            }
          ]
        }) }}

        {% endif %}


        {% if data['type-of-help'] ==  'other' %}
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "What do you need help with?"
              },
              value: {
                text: "Something else"
              },
              actions: {
                items: [
                  {
                    href: "type-of-help",
                    text: "Change",
                    visuallyHiddenText: "how we can help"
                  }
                ]
              }
            },
            {
              key: {
                text: "How can we help?"
              },
              value: {
                text: data['advice-detail']
              },
              actions: {
                items: [
                  {
                    href: "compliance-help",
                    text: "Change",
                    visuallyHiddenText: "your name"
                  }
                ]
              }
            }
          ]
        }) }}

        {% endif %}


        {% if data['type-of-help'] ==  'supplier' %}


        {% set supplierHtml %}
          {{data['suppliers']}}
          {% if data['suppliers'] == 'yes' %}
            :<br>
            {{data['supplier-detail']}}
          {% endif %}

        {% endset %}

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "What do you need help with?"
              },
              value: {
                text: "Finding or choosing a supplier"
              },
              actions: {
                items: [
                  {
                    href: "type-of-help",
                    text: "Change",
                    visuallyHiddenText: "how we can help"
                  }
                ]
              }
            },
            {
              key: {
                text: "Type of goods or service"
              },
              value: {
                text: data['type-of-goods']
              },
              actions: {
                items: [
                  {
                    href: "type-of-goods",
                    text: "Change",
                    visuallyHiddenText: "type of goods or service"
                  }
                ]
              }
            },
            {
              key: {
                text: "When you need the new supplier"
              },
              value: {
                text: data['when-needed']
              },
              actions: {
                items: [
                  {
                    href: "when-needed",
                    text: "Change",
                    visuallyHiddenText: "when you need the new supplier"
                  }
                ]
              }
            },
            {
              key: {
                text: "Budget"
              },
              value: {
                text: "£" + data['budget']
              },
              actions: {
                items: [
                  {
                    href: "budget",
                    text: "Change",
                    visuallyHiddenText: "budget"
                  }
                ]
              }
            },
            {
              key: {
                text: "Have you found or contacted any suppliers?"
              },
              value: {
                text: supplierHtml | safe
              },
              actions: {
                items: [
                  {
                    href: "suppliers",
                    text: "Change",
                    visuallyHiddenText: " if you found or contacted any suppliers"
                  }
                ]
              }
            },
            {
              key: {
                text: "Describe what you need to buy"
              },
              value: {
                text: data['description']
              },
              actions: {
                items: [
                  {
                    href: "description",
                    text: "Change",
                    visuallyHiddenText: " description of what you need to buy"
                  }
                ]
              }
            }
          ]
        }) }}

        {% endif %}



      <h2 class="govuk-heading-m">Now send your request for help</h2>

      <p class="govuk-body">The information you have entered will be sent to the Department for Education supported buying team.</p>

      <p>The team aim to respond to your request for help within 1 week. Once you have received their first response by email you will be able to arrange a telephone consultation.</p>


      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Send request"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
