{% extends "layout.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="check-your-answers" method="post">

        

        {{ govukTextarea({
          name: "advice-detail",
          id: "advice-detail",
          value: data['advice-detail'],
          label: {
            text: "What do you need to buy for your school?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Include any information that may be helpful, such as the amount you need to buy."
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
