{% extends "layout.html" %}

{% block content %}


<div class="flash-card">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">About the supported buying for schools service</h1>

  <p class="govuk-body">This service is intended to help make buying goods or services easier and cheaper for schools.
</p>

  <p class="govuk-body">By filling out this form, you can request help from the Department for Education’s supported buying team. This team is made up of procurement experts with experience in buying for schools.</p>

  <p class="govuk-body">The Department for Education (DfE) team can help you by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>providing guidance and answering questions you may have about buying for your school or multi-academy trust</li>
    <li>helping you find a framework for your purchase</li>
    <li>helping you with legal or compliance issues</li>
    <li>supporting you with particularly difficult or complex procurements</li>
  </ul>

  <p class="govuk-body">You can ask for their help by filling out this form.</p>

  <h2 class="govuk-heading-l govuk-!-margin-bottom-5">Other help is available from DfE:</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>you can read advice about how to <a href="#">plan a procurement</a></li>
    <li>you may be able to buy what you need more easily using an <a href="#">approved framework</a></li>
    <li>if you are buying a catering service, you can follow a step by step process to <a href="#">create a specification</a></li>
  </ul>
  <a href="/request-call-back/v3/interruption-card-from-you" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    Next: what we need from you
  </a>

</div>

{% endblock %}
