{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <span class="govuk-caption-l">About your school</span>

      <form action="search-school-post" method="post">
      {{ govukInput({
        id: 'search-school',
        name: 'search-school',
        value: data['search-school'],
        classes: 'govuk-input--width-30',
        label: {
          html: 'Search for your school',
          classes: 'govuk-label--l',
          isPageHeading: 'true'
        },
        value: data['search-school'],
        hint: {
          text: 'Enter the name or URN (Unique Reference Number) of your school.'
        }
      }) }}

      {{ govukButton({
        text: 'Continue'
      }) }}
    </form>
    </div>
  </div>
{% endblock %}
