{% extends "layout.html" %}



{% set addressHtml %}
{{ data['address-line-1'] }} <br>
{{ data['address-line-2'] }} <br>
{{ data['address-county'] }} <br>
{{ data['address-postcode'] }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">About your school</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "School name"
            },
            value: {
              text: data['school-name']
            },
            actions: {
              items: [
                {
                  href: "school-name",
                  text: "Change",
                  visuallyHiddenText: "school name"
                }
              ]
            }
          },
          {
            key: {
              text: "School Address"
            },
            value: { 
              text: addressHtml | safe
            },
            actions: {
              items: [
                {
                  href: "school-address",
                  text: "Change",
                  visuallyHiddenText: "school address"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}



