{% extends "layout.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="task-list" method="post">
      
        {{ govukTextarea({
          name: "procurement-detail",
          id: "procurement-detail",
          value: data['procurement-detail'],
          label: {
            text: "What are the procurement requirements",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Add details of the new procurement"
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}



