{% extends "layout.html" %} {% block content %}

<div class="govuk-grid-row govuk-width-container">
  <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Success
  </h1>
  <div class="govuk-panel__body">
   Request for file(s) sent to <br> <strong>joebloggs@hopeprimary.sch.uk <br> at Hope Primary School</strong>
  </div>
</div>

        <p class="govuk-body">joebloggs@hopeprimary.sch.uk at Hope Primary School will be able to upload file(s) using the link you shared.</p>

        <br>

    <h1 class="govuk-body-m">
      <p class="govuk-heading-m">Actions</p>
              <ul class="govuk-list govuk-list">
              <li><a href="/manage-case/v9/case/10/specify#files">View files</a></li>
              </ul>
    </h1>
     
  </div>
</div>

{% endblock %}
