{% extends "layout_case.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ data.school['school-name'] }}</h1>
      {{govukTag({
          text: "Framework procurement",
          classes: "govuk-tag--orange govuk-!-margin-bottom-7 govuk-!-margin-top-1"
        })}}

{% set schoolDetails %}

{{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-5',
        rows: [
          {
            key: {
              text: "School name"
            },
            value: {
              text: data.school['school-name']
            }
          },
          {
            key: {
              text: "School Address"
            },
            value: {
              text: addressHtml | safe
            }
          }
        ]
      }) }}

{% endset %}

{% set contactDetails %}
  {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-5',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.school['your-name']
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.school['contact-by-phone']
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: data.school['contact-by-email']
            }
          }
        ]
      }) }}

{% endset %}




{% set requestDetails %}

<dl class="govuk-summary-list govuk-!-margin-bottom-5'">
  
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['procurement-category'] %}
            {{ data['procurement-category']}} <a class="govuk-link govuk-!-margin-left-2" href="new-case/category">change <span class="govuk-visually-hidden">category</span></a>
          {% else %}
          <a class="govuk-link" href="new-case/category">Add category</a>
          {% endif %}
        </dd>
        
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Procurement details
        </dt>
        <dd class="govuk-summary-list__value">
          I need a new catering provider. The current contract ends at the end of the school year. 
        </dd>
        
      </div>
    
  
</dl>


{% endset %}


{{ govukTabs({
  items: [
    {
      label: "School details",
      id: "school-details",
      panel: {
        html: schoolDetails
      }
    },
    {
      label: "Contact details",
      id: "contact-details",
      panel: {
        html: contactDetails
      }
    },
    {
      label: "Procurement details",
      id: "request-details",
      panel: {
        html: requestDetails
      }
    }
  ]
}) }} 

<h3 class="govuk-heading-m">Actions</h3>
<ul class="govuk-list">
  
  <li>
    <a class="govuk-link" href="#">Specification</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Participation agreement</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Route to market</a>
  </li>
</ul>


      

    </div>
  </div>
{% endblock %}
