{% extends "layout_gov_noback.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Thank you</h1>
      <p>We appreciate you taking the time to give us feedback.</p>

      <p>We will use your response to help us improve the service.</p>

      <p><a href="">Read information on finding the right way to buy for your school</a></p>

      <p><a href="">Read about how to plan for what you're buying</a></p>
    </div>
  </div>
{% endblock %}
