{% extends "layout_gov.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="Q2-comments" method="POST">
        {{ govukRadios({
        idPrefix: "survey-satisfaction",
        name: "survey-satisfaction",
        fieldset: {
          legend: {
            text: "How do you feel about the service you received?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "very satisfied",
            text: "Very satisfied"
          },
          {
            value: "satisfied",
            text: "satisfied"
          },
          {
            value: "neither satisfied nor dissatified",
            text: "Neither satisfied nor dissatified"
          },
          {
            value: "dissatified",
            text: "Dissatified"
          },
          {
            value: "very dissatified",
            text: "Very dissatified"
          }
        ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
