{% extends "layout_gov.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="Q3-saved-time" method="POST">
        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Tell us why you felt " + data['survey-satisfaction'] + " with the service?",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
