{% extends "layout_gov.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="Q4-benefit" method="POST">
        <h1 class="govuk-heading-l">Do you agree or disagree with the following statements?</h1>
        {{ govukRadios({
        idPrefix: "survey-satisfaction",
        name: "survey-satisfaction",
        fieldset: {
          legend: {
            text: "I have learned more about how to run procurements",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "strongly agree",
            text: "Strongly agree"
          },
          {
            value: "agree",
            text: "Agree"
          },
          {
            value: "neither agree nor disagree",
            text: "Neither agree nor disagree"
          },
          {
            value: "disagree",
            text: "Disagree"
          },
          {
            value: "strongly disagree",
            text: "Strongly disagree"
          }
        ]
        }) }}

        {{ govukRadios({
        idPrefix: "survey-satisfaction",
        name: "survey-satisfaction",
        fieldset: {
          legend: {
            text: "I've learned enough to run the same type of procurement in the future with less support",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "strongly agree",
            text: "Strongly agree"
          },
          {
            value: "agree",
            text: "Agree"
          },
          {
            value: "neither agree nor disagree",
            text: "Neither agree nor disagree"
          },
          {
            value: "disagree",
            text: "Disagree"
          },
          {
            value: "strongly disagree",
            text: "Strongly disagree"
          }
        ]
        }) }}

        {{ govukRadios({
        idPrefix: "survey-satisfaction",
        name: "survey-satisfaction",
        fieldset: {
          legend: {
            text: "I would be able to run any procurement in the future with less support",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "strongly agree",
            text: "Strongly agree"
          },
          {
            value: "agree",
            text: "Agree"
          },
          {
            value: "neither agree nor disagree",
            text: "Neither agree nor disagree"
          },
          {
            value: "disagree",
            text: "Disagree"
          },
          {
            value: "strongly disagree",
            text: "Strongly disagree"
          }
        ]
        }) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
