{% extends "layout_gov_noback.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Get help buying for schools feedback
      </h1>
      <p>Thank you for taking the time to give us your feedback about case [ref].</p>

      <p>This will help us to understand how well the service has supported you so that we can continue to improve it.</p>

      <p>It should take about 5 minutes to complete. </p>

      <a href="Q1-satisfaction" class="govuk-button">Continue</a>

      <p><a href="privacy-policy">Privacy policy</a></p>
    </div>
  </div>
{% endblock %}
