{% extends "layout_gov_noback.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Feedback survey
      </h1>
      <p>Thank you for taking the time to give us your feedback on the DfE Get help buying for schools service.</p>

      <p>The survey will help us to understand how well the service has supported you so that we can continue to improve it.</p>

      <p>It should take no longer than 5 minutes to complete.</p>

      <a href="Q1-satisfaction" class="govuk-button">Continue</a>
    </div>
  </div>
{% endblock %}
