{% extends "layout_gov.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirmation-post" method="POST">
        {{ govukRadios({
        idPrefix: "survey-satisfaction",
        name: "survey-satisfaction",
        fieldset: {
          legend: {
            text: "Would you like to be contacted about DfE research opportunities?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "Your feedback helps us to improve services for schools. You can always say no to an invite and you can unsubscribe at any time."
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
