{% extends "layout_gov.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirmation" method="POST">
        <h1 class="govuk-heading-l">Provide your details to opt in to research opportunities</h1>
        <p  class="govuk-body">We will use these details to contact you about taking part in future research. </p>
        <p  class="govuk-body">Your details will not be used for any other purpose.</p>

       {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "name-on-the-account",
          name: "name-on-the-account",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "name-on-the-account",
          name: "name-on-the-account",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
