{% extends "layout_case.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ 'Edit' if case.existingContractTask == 'Completed' else 'Add' }} existing contract details</h1>

      <form action="check-existing-contract-details" method="post">
        {{ govukInput({
          label: {
            text: "Existing contract supplier (optional)"
          },
          classes: "govuk-input--width-20",
          id: "existing-contract-supplier",
          name: "existing-contract-supplier"
        }) }}

        {{ govukInput({
          id: "existing-contract-spend",
          name: "existing-contract-spend",
          label: {
            text: "Existing contract spend (optional)"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Existing contract dates",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          <p>You will need to fill in at least two sections for us to accurately calculate the contract dates.</p>

          {{ govukInput({
            label: {
              text: "Duration of existing contract in months (optional)"
            },
            classes: "govuk-input--width-5",
            id: "existing-contract-duration",
            name: "existing-contract-duration"
          }) }}

          {{ govukDateInput({
            id: "existing-contract-start-date",
            namePrefix: "existing-contract-start-date",
            fieldset: {
              legend: {
                text: "Existing contract start date (optional)"
              }
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: case.existingContract.startDate | returnDay
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: case.existingContract.startDate | returnMonth
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: case.existingContract.startDate | returnYear
              }
            ]
          }) }}

          {{ govukDateInput({
            id: "existing-contract-end-date",
            namePrefix: "existing-contract-end-date",
            fieldset: {
              legend: {
                text: "Existing contract end date (optional)"
              }
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: case.existingContract.endDate | returnDay
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: case.existingContract.endDate | returnMonth
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: case.existingContract.endDate | returnYear
              }
            ]
          }) }}
        
        {% endcall %}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
