{% extends "layout_case.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before {{ 'updating' if case.newContractTask == 'Completed' else 'adding' }} existing contract details</h1>


      <form action="add-existing-contract-details-post" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Existing contract supplier "
            },
            value: {
              text: data['existing-contract-supplier']
            },
            actions: {
              items: [
                {
                  href: "create-a-new-case",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Existing contract duration"
            },
            value: {
              text: data['existing-contract-duration']
            },
            actions: {   
              items: [
                {
                  href: "create-a-new-case",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Existing contract start date"
            },
            value: {
              text: data['existing-contract-start-date-day'] + " " + data['existing-contract-start-date-month'] + " " + data['existing-contract-start-date-year']
            },
            actions: {   
              items: [
                {
                  href: "create-a-new-case",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Existing contract end date"
            },
            value: {
              text: data['existing-contract-end-date-day'] + " " + data['existing-contract-end-date-month'] + " " + data['existing-contract-end-date-year'] 
            },
            actions: {
              items: [
                {
                  href: "create-a-new-case",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Existing contract spend"
            },
            value: {
              text: data['existing-contract-spend']
            },
            actions: {
              items: [
                {
                  href: "create-a-new-case",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Submit"
      }) }}

      </form>
      
    </div>
  </div>
{% endblock %}
