{% extends "layout_noback.html" %}

{% block header %}
  {% include "manage-case/v12/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Case statistics</h1>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Number of cases</th>
            <td class="govuk-table__cell">321</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Number of cases by state</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">New</th>
              <td class="govuk-table__cell">199</td>
              <th scope="row" class="govuk-table__header">Open</th>
              <td class="govuk-table__cell">69</td>
              <th scope="row" class="govuk-table__header">Resolved</th>
              <td class="govuk-table__cell">16</td>
              <th scope="row" class="govuk-table__header">On Hold</th>
              <td class="govuk-table__cell">2</td>
              <th scope="row" class="govuk-table__header">Closed</th>
              <td class="govuk-table__cell">35</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Number of cases by sub-category and state</h2>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">AV Displays</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Boilers and plumbing services</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Broadband Infrastructure</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Broadband service</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Catering</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">14</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">13</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">3</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Cleaning Products</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Cloud SaaS</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Curriculum Content</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Electricity</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">3</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Fire Safety (Goods &amp; Systems)</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Gas</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Insurance</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Laptops</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">5</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">4</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MFD</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">6</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">5</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MIS</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No applicable category</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">3</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Not yet known</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">27</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">2</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">1</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">OS Software</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">2</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payroll</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Peripherals</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">4</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">9</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">5</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">2</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">2</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Professional services Bloom</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Roof Maintenance</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Solar</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Spend Analysis</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Statutory testing</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Telecoms &amp; Broadband</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">VLEs</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">2</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Water, drains &amp; sewerage</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">1</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">0</td>
            </tr>
            <tr>
              <th scope="row" class="govuk-table__header">No sub-category</th>
                <th scope="row" class="govuk-table__header">New</th>
                <td class="govuk-table__cell">132</td>
                <th scope="row" class="govuk-table__header">Open</th>
                <td class="govuk-table__cell">20</td>
                <th scope="row" class="govuk-table__header">Resolved</th>
                <td class="govuk-table__cell">5</td>
                <th scope="row" class="govuk-table__header">On Hold</th>
                <td class="govuk-table__cell">0</td>
                <th scope="row" class="govuk-table__header">Closed</th>
                <td class="govuk-table__cell">27</td>
            </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Case data</h2>

      {{ govukButton({
          text: "Download CSV"
      }) }}
    </div>
  </div>
{% endblock %}
