{% extends "layout_noback.html" %}

{% block header %}
  {% include "manage-case/v12/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Case statistics</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title govuk-!-margin-bottom-0">86</h1>
            <div class="govuk-panel__body">Live cases</div>
          </div>
        </div>
        <!--
        <div class="govuk-grid-column-one-third">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title govuk-!-margin-bottom-0">£1.5m</h1>
            <div class="govuk-panel__body">
              Case values
            </div>
          </div>
        </div>
        -->
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-inset-text" style="border-left-color: #00703c"><strong>52</strong> Open</div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-inset-text" style="border-left-color: #ffdd00"><strong>20</strong> On hold</div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-inset-text" style="border-left-color: #1d70b8"><strong>14</strong> New</div>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="govuk-inset-text" style="border-left-color: #b1b4b6"><strong>10</strong> Resolved</div>
        </div>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Overview by tower</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Tower</th>
            <th scope="col" class="govuk-table__header">Live</th>
            <th scope="col" class="govuk-table__header">Open</th>
            <th scope="col" class="govuk-table__header">On hold</th>
            <!--<th scope="col" class="govuk-table__header">Value</th>-->
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="case-statistics-drilldown?tower=ICT">ICT</a></th>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <!--<td class="govuk-table__cell">£100,000</td>-->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="case-statistics-drilldown?tower=FM and Catering">FM and Catering</a></th>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <!--<td class="govuk-table__cell">£100,000</td>-->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="case-statistics-drilldown?tower=Services">Services</a></th>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <!--<td class="govuk-table__cell">£100,000</td>-->
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="case-statistics-drilldown?tower=Energy and Utilities">Energy and Utilities</a></th>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">20</td>
            <!--<td class="govuk-table__cell">£100,000</td>-->
          </tr>
        </tbody>
      </table>

      {{ govukButton({
          text: "Download CSV"
      }) }}
    </div>
  </div>
{% endblock %}
