{% extends "layout.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Frameworks</h1>


    <p class="">Based on the sub-category you chose, there are multiple approved frameworks to choose from (links will open in a new window).</p>

    
      <dl class="card">
        <a target="_blank" href="https://find-dfe-approved-framework.service.gov.uk/find/type/on-going/services-categories/facilities/fm-categories/catering/fm-support-service"></a>
        <div class="card__header">
          <dt class="govuk-visually-hidden">Framework name:</dt>
          <dd class="card__title">Books, stationery and education supplies</dd>
        </div>
        <div class="card__content">
          <dt>Providers:</dt>
          <dd>CPC, ESPO, KCS</dd>
        </div>
      </dl>
    
      <dl class="card">
        <a target="_blank" href="https://find-dfe-approved-framework.service.gov.uk/find/type/on-going/services-categories/facilities/fm-categories/catering/catering-espo"></a>
        <div class="card__header">
          <dt class="govuk-visually-hidden">Framework name:</dt>
          <dd class="card__title">Consultancy services</dd>
        </div>
        <div class="card__content">
          <dt>Provider:</dt>
          <dd>YPO</dd>
        </div>
      </dl>
    
      <dl class="card">
        <a target="_blank" href="https://find-dfe-approved-framework.service.gov.uk/find/type/on-going/services-categories/facilities/fm-categories/catering/catering-cpc"></a>
        <div class="card__header">
          <dt class="govuk-visually-hidden">Framework name:</dt>
          <dd class="card__title">Energy and utilities</dd>
        </div>
        <div class="card__content">
          <dt>Provider:</dt>
          <dd>ESPO</dd>
        </div>
      </dl>

      <br>

      <form action="task-list" method="post">

        {{ govukTextarea({
          name: "frameworks-detail",
          id: "frameworks-detail",
          value: data['frameworks-detail'],
          label: {
            text: "Recommended frameworks",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Add details of any recommended frameworks and why they may be suitable for the school's needs."
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
