{% extends "layout_case.html" %}

{% block header %}
  {% include "manage-case/v11/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Case has been placed on hold
    </h3>
    <!--<p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there's a problem.</p>-->
  </div>
</div>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">{{ case.school.name }}</h1>
    <br>
      {{govukTag({
        text: "on hold",
        classes: "govuk-tag--yellow" + " govuk-!-margin-bottom-7 "
      })}}

{% include "../includes/specify-in-progress.html" %}

<h3 class="govuk-heading-m">Actions</h3>
<ul class="govuk-list">

  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="assign-to-caseworker">Change case owner</a>
  </li>
  <!--<li>
    <a class="govuk-link govuk-link--no-visited-state" href="/manage-case/v11/find-a-case-move-email.html">Move emails to existing case</a>
  </li>-->
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="case-note">Add a case note</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="type-of-email">Send email</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="contact">Log contact with school</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="resolve-case">Resolve case</a>
  </li>
</ul>


      

    </div>
  </div>
{% endblock %}
