{% extends "layout.html" %}

{% block header %}
  {% include "manage-case/v12/includes/logged_in_user.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="contact-update-post" method="post">

        {{ govukInput({
          label: {
            text: "What Organisation do you want to add?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukButton({
          text: "Save selected organisation"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
