{% extends "layout_case.html" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="key-info">
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before updating saving details</h1>

      <form action="add-saving-details-post" method="post">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Saving status"
            },
            value: {
              text: data['status']
            },
            actions: {   
              items: [
                {
                  href: "add-saving-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Saving estimate method"
            },
            value: {
              text: data['estimate-method']
            },
            actions: {   
              items: [
                {
                  href: "add-saving-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Saving actual method"
            },
            value: {
              text: data['actual-method']
            },
            actions: {   
              items: [
                {
                  href: "add-saving-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Saving estimate"
            },
            value: {
              text: data['estimate']
            },
            actions: {   
              items: [
                {
                  href: "add-saving-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Saving actual"
            },
            value: {
              text: data['actual']
            },
            actions: {   
              items: [
                {
                  href: "add-saving-details",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Submit"
      }) }}

      </form>
      
    </div>
  </div>
{% endblock %}
