{% extends "layout.html" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      Select attachments to remove
      </h1>
    </legend>

    <br>


<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--s govuk-!-font-weight-regular">You can rename attachments and add a description</caption>-->
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes--small govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Filename.pdf</a>
        </label>
      </div>
    </tr>
  </tbody>
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-font-weight-regular">
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes--small govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-checkboxes__label" for="contact">
          <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Filename2.pdf</a>
        </label>
      </div>
    </tr>
  </tbody>
  
</table>

<!--<td class="govuk-table__cell govuk-table__cell--numeric">Save</td>-->
    
  </fieldset>
    
    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" onclick="goToPage()">
    Remove from message
    </button>
      
    <script>
        function goToPage() {
                  window.location = "/manage-case/v10/case/10/specify#case-messages";
                  localStorage.setItem('login','true');
                }
    </script>

  <a class="govuk-link" href="/manage-case/v10/case/10/specify-attachments-reply#case-messages">Cancel</a>
  </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
