{% extends "layout.html" %}



{% set addressHtml %}
{{ data['address-line-1'] }} <br>
{{ data['address-line-2'] }} <br>
{{ data['address-county'] }} <br>
{{ data['address-postcode'] }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers and send your request for help</h1>

      <h2 class="govuk-heading-m">About your school</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "School name"
            },
            value: {
              text: data['school-name']
            },
            actions: {
              items: [
                {
                  href: "school-name",
                  text: "Change",
                  visuallyHiddenText: "school name"
                }
              ]
            }
          },
          {
            key: {
              text: "School address"
            },
            value: {
              text: addressHtml | safe
            },
            actions: {
              items: [
                {
                  href: "school-address",
                  text: "Change",
                  visuallyHiddenText: "school address"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">About you</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Your name"
            },
            value: {
              text: data['your-name']
            },
            actions: {
              items: [
                {
                  href: "your-name",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Your phone number"
            },
            value: {
              text: data['contact-by-phone']
            },
            actions: {
              items: [
                {
                  href: "contact-details",
                  text: "Change",
                  visuallyHiddenText: "your phone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Your email address"
            },
            value: {
              text: data['contact-by-email']
            },
            actions: {
              items: [
                {
                  href: "contact-details",
                  text: "Change",
                  visuallyHiddenText: "your email"
                }
              ]
            }
          }
        ]
      }) }}


      {% if data['type-of-help'] == 'procurement' %}

      <h2 class="govuk-heading-m">About your procurement</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "What do you need help with?"
              },
              value: {
                text: "I need help with a procurement"
              },
              actions: {
                items: [
                  {
                    href: "type-of-help",
                    text: "Change",
                    visuallyHiddenText: "your name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Tell us what you need to buy"
              },
              value: {
                text: data['need-to-buy']
              },
              actions: {
                items: [
                  {
                    href: "need-to-buy",
                    text: "Change",
                    visuallyHiddenText: "your name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Tell us about any existing contracts"
              },
              value: {
                text: data['existing-contract']
              },
              actions: {
                items: [
                  {
                    href: "existing-contract",
                    text: "Change",
                    visuallyHiddenText: "existing contract details"
                  }
                ]
              }
            }
          ]
        }) }}

        {% endif %}

      {% if data['type-of-help'] ==  'advice' %}

      <h2 class="govuk-heading-m">Your question about buying for your school</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "What do you need help with?"
              },
              value: {
                text: "I have a question about buying for my school"
              },
              actions: {
                items: [
                  {
                    href: "type-of-help",
                    text: "Change",
                    visuallyHiddenText: "your name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Your question"
              },
              value: {
                text: data['advice-detail']
              },
              actions: {
                items: [
                  {
                    href: "advice-detail",
                    text: "Change",
                    visuallyHiddenText: "your name"
                  }
                ]
              }
            }
          ]
        }) }}

        {% endif %}


      <h2 class="govuk-heading-m">Now send your request for help</h2>

      <p class="govuk-body">The information you have entered will be sent to the Department for Education Schools Commercial team. They will review your information and get in touch to let you know how they can support you.</p>


      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Send request"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
