{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="type-of-help-post" method="post">
        <span class="govuk-caption-l">About your procurement</span>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukRadios({
          idPrefix: "type-of-help",
          name: "type-of-help",
          fieldset: {
            legend: {
              text: "What do you need help with?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "advice",
              text: "I have a question about buying for my school"
            },
            {
              value: "procurement",
              text: "I need help with a procurement"
            }
          ]
        }) }}
        {{ govukButton({
          text: 'Continue'
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
