{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Get help buying for schools prototypes
      </h1>
      <p>
        Overview of service
      </p>

      <p class="govuk-!-margin-bottom-1">It includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/request-call-back">Request a call back</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
