{% extends "layout.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
      Get help buying for schools prototypes
      </h1>
      <p>
        Prototypes for assisted buying for Get help buying for schools.
      </p>
      <h3 class="govuk-heading-s">Features:</h3>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
      Request help with buying
      </h1>
      <p>Entry point into assisted buying service. Used to capture the contact details of the user requesting help, their school and buying needs.</p>
    
      {{ govukButton({
      text: 'View versions',
      href: 'request-call-back'
      }) }}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">




      <h1 class="govuk-heading-m">
      Case management
      </h1>
      <p>Used for procurement ops to contact user to find out more about their requirements.</p>
      {{ govukButton({
      text: 'View versions',
      href: 'manage-case'
      }) }}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h1 class="govuk-heading-m">
      Emails
      </h1>
      <p>Used for testing email responses to schools after that have requested help through the specify tool.</p>
      {{ govukButton({
      text: 'View versions',
      href: 'emails'
      }) }}

    </div>
  </div>
{% endblock %}