{% set hidePhaseBanner = true %}
{% extends "layout.html" %}

{% block beforeContent %}

{% endblock %}
{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}




{% block header %}{% endblock %}
{% block footer %}
<style type="text/css" media="screen">
  .email-logo-container {
    display: flex;
    border-left:solid 2px #003a69;
    align-items: center;
    justify-content: flex-start;
  }
  .email-logo-container p {
    margin:  0;
  }

  .email-logo-container img {
    margin:  0 5px 0 7px;
  }
  
</style>
{% endblock %}

