{% set hidePhaseBanner = true %}
{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-grid-row  govuk-!-margin-top-5">
  <div class="govuk-grid-column-full">
    <p><strong>Subject:</strong> DfE Get help buying for schools: your request for support </p>
    <p><strong>From:</strong> get-help-buying-for-schools@education.gov.uk</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>
</div>
<div class="email-logo-container govuk-body">
  <img class="email-logo" height="27" src="/public/images/email-crown-logo.png" alt="">
  <p>Department for Education</p>
</div>
{% endblock %}
{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}




{% block header %}{% endblock %}
{% block footer %}
<style type="text/css" media="screen">
  .email-logo-container {
    display: flex;
    border-left:solid 2px #003a69;
    align-items: center;
    justify-content: flex-start;
  }
  .email-logo-container p {
    margin:  0;
  }

  .email-logo-container img {
    margin:  0 5px 0 7px;
  }
  
</style>
{% endblock %}

