{% extends "layout.html" %}



{% set addressHtml %}
{{ data.school['address-line-1'] }} <br>
{{ data.school['address-line-2'] }} <br>
{{ data.school['address-county'] }} <br>
{{ data.school['address-postcode'] }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">School contact details</h1>

      <p>The following details were sent om </p>
      <h2 class="govuk-heading-m">About the school</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "School name"
            },
            value: {
              text: data.school['school-name']
            }
          },
          {
            key: {
              text: "School Address"
            },
            value: { 
              text: addressHtml | safe
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">Contact details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.school['your-name']
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: data.school['contact-by-phone']
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: data.school['contact-by-email']
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">About the procurement</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Your name"
            },
            value: {
              text: data.school['procurement-detail']
            }
          }
        ]
      }) }}


        {{ govukButton({
          text: "Continue",
          href: "task-list"
        }) }}



    </div>
  </div>
{% endblock %}



