{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Summerhill Primary School
      </h1>


      <p class="govuk-body govuk-!-margin-bottom-7">Use this to record details of the school's procurement needs. You do not need to complete all the sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> School details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="contact-details" aria-describedby="contact details">
                  Contact details
                </a>
              </span>

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Procurement details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="category" aria-describedby="category-status">
                  Category
                </a>
              </span>
              {% if data.tags.category == true %}
              <strong class="govuk-tag app-task-list__tag" id="category-status">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="existing-contract" aria-describedby="contract-status">
                  Existing contract details
                </a>
              </span>
              {% if data.tags.existingContract == true %}
              <strong class="govuk-tag app-task-list__tag" id="contract-status">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="procurement-detail" aria-describedby="new-proc-status">
                  Procurement requirements
                </a>
              </span>
              {% if data.tags.procurementRequirements == true %}
              <strong class="govuk-tag app-task-list__tag" id="new-proc-status">Completed</strong>
              {% endif %}
            </li>

             <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="procurement-detail" aria-describedby="new-proc-status">
                  Procurement terms
                </a>
              </span>
              {% if data.tags.procurementTerms == true %}
              <strong class="govuk-tag app-task-list__tag" id="new-proc-status">Completed</strong>
              {% endif %}
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Next steps
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="online-support" aria-describedby="company-information-status">
                  Online support and guidance
                </a>
              </span>
              {% if data.tags.onlineSupport == true %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="frameworks" aria-describedby="frameworks">
                  Routes to market
                </a>
              </span>
              {% if data.tags.frameworks == true %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% endif %}
            </li>




          </ul>
        </li>

      </ol>

      {{ govukButton({
        text: 'Continue',
        href: 'call-outcome'
      }) }}
    </div>
  </div>

{% endblock %}
