{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="check-your-answers" method="post">
        <span class="govuk-caption-l">About your procurement</span>
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "procurement-detail",
          id: "procurement-detail",
          label: {
            text: "Tell us about your procurement?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Include details of any existing procurement"
          }
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

