{% extends "layout.html" %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Your request for support has been sent",
        html: "Your reference number is <br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We have sent your request for help with buying for your school to the Department for Education Schools Commercial Team.
      </p>
      <p class="govuk-body">
        The Schools Commercial Team will contact you to let you know how they can support you.
      </p>
      <p class="govuk-body">
        They aim to reply to all requests within two weeks.
      </p>

      <h2 class="govuk-heading-m">What you can do next</h2>

      <p>Read advice about <a href="#">planning a procurement</a>.</p>

      <p>You may be able to buy what you need using a Department for Education approved framework. Use the <a href="#">find a framework service</a> to find frameworks that may meet your needs.

      <p>You can get help to <a href="#">create a procurement specification</a>.</p>

<h2 class="govuk-heading-m">Tell us what you think</h2>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>
    </div>
  </div>
{% endblock %}
