{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Get help buying for schools</h1>

      <p>If you need help with procuring goods or services for your school, the Department for Education can offer advice and support.</p>

      <p>In some cases, the Department for Education team may be able to manage your procurement for you. </p>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>ask for help with your procurement</li>
          <li>tell the Department for Education team about your situation</li>
          <li>find other resources that can help</li>
        </ul>

      <p>This service is open to:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>state schools, including academies and multi academy trusts</li>
          <li>special schools</li>
          <li>maintained nursery schools</li>
        </ul>



      {{ govukButton({
        text: 'Start now',
        href: 'school-name'
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Read advice about <a href="#">planning a procurement</a>.</p>

      <p>You may be able to buy what you need using a Department for Education approved framework. Use the <a href="#">find a framework service</a> to find frameworks that may meet your needs.

      <p>You can get help to <a href="#">create a procurement specification</a>.</p>

    </div>
  </div>
{% endblock %}
