<h2 class="govuk-heading-m">Case summary - <a class="govuk-!-font-weight-regular" href="case-summary-details">change</a></h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Source
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.existingContract.endDate %}
        {{ case.existingContract.endDate | formatDate or "-" }}
      {% else %}
        -
      {% endif %}
    </dd>    
  </div>
  <!--<div class="govuk-summary-list__row">
  {% if case.status !== "new" %}
    <dt class="govuk-summary-list__key">
      Case owner
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.existingContract.duration or "-" }}
    </dd>
    {% endif %}   
  </div>-->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case level
    </dt>
    <dd class="govuk-summary-list__value">
      {% if case.existingContract.spend %}
        £{{ case.existingContract.spend }}
      {% else %}
        -
      {% endif %}
    </dd>    
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case value
    </dt>
    <dd class="govuk-summary-list__value">
      {{ case.existingContract.supplier or "-" }}
    </dd>    
  </div>   
</dl>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

<h2 class="govuk-heading-m">Request - <a class="govuk-!-font-weight-regular" href="category">change</a></h2>
      
      <!--<p>Request sent on  {{ case.lastUpdated | formatTableDate }}-->
      
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Received
        </dt>
        <dd class="govuk-summary-list__value">
          4 January 2022 at 16:20
        </dd>
        </dd>  
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Category
        </dt>
        <dd class="govuk-summary-list__value">
          {{ case.category }}
        </dd>    
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="category">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>-->
        </dd> 
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Procurement amount
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "£1000" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="category">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>-->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Confidence level
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Very confident" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="category">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>-->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Special requirements
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "I need help with so and so" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--<a class="govuk-link" href="category">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>-->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Description of query
        </dt>
        <dd class="govuk-summary-list__value">
          {{ case.typeOfCase or supportInformation['typeOfCase'] | safe }}
        </dd>  
        <dd class="govuk-summary-list__actions">
        </dd>       
      </div>

      {#
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Level of case
        </dt>
        <dd class="govuk-summary-list__value">
          {{ case.levelOfCase or "Specify" }}
        </dd>  
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="level">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>           
      </div>
      #}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attached specification
        </dt>
        <dd class="govuk-summary-list__value">
          {{ case.notes or supportInformation['specify-question'] | safe  }}
        </dd>  
        <dd class="govuk-summary-list__actions">
        </dd>       
      </div>

    {% if case.hubIdentificationNumber  %}
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hub identification number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ case.hubIdentificationNumber }}
        </dd>  
        <dd class="govuk-summary-list__actions">
        </dd>       
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hub estimated total savings
        </dt>
        <dd class="govuk-summary-list__value">
          £ {{ case.hubsSavingsTotalEstimate }}
        </dd>  
        <dd class="govuk-summary-list__actions">
        </dd>       
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Hub procurement estimated completion date
        </dt>
        <dd class="govuk-summary-list__value">
          {{ case.hubProcurementCompletionDate | formatTableDate }}
        </dd>  
        <dd class="govuk-summary-list__actions">
        </dd>       
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attached specification
        </dt>
        <dd class="govuk-summary-list__value">
          {% if supportInformation.docUrl %}
            <a href="{{ supportInformation.docUrl }}" type="download">{{ supportInformation.docName }}</a>
          {% else %}
            No Specification included
          {% endif %}
        </dd> 
        <dd class="govuk-summary-list__actions">
        </dd>        
      </div>

      {% endif %}
    
</dl>
