{% extends "layout.html" %} {% block content %}

<div class="govuk-grid-row govuk-width-container">
  <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Email successfully linked to
  </h1>
  <div class="govuk-panel__body">
    Case ID<br><strong>000012</strong>
  </div>

</div>
    <h1 class="govuk-body-m">
      <p class="govuk-body">To continue, you can go back to:</p>
              <ul class="govuk-list govuk-list">
              <li><a href="/manage-case/v6/email/notifications-new-case-linked.html">Notifications</a></li>
              <li><a href="/manage-case/v6/case-list/my-cases">My cases</a></li>
              </ul>
    </h1>
     
  </div>
</div>

<!--<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
  
      <h1 class="govuk-panel__title">
       Email successfully linked to
      </h1>

      <div class="govuk-panel__body">
        Case ID<br><strong>000012</strong>
    </div>
  </main>

  </div>
    <h1 class="govuk-body-m">
      <p class="govuk-body">To continue, you can go back to:</p>
              <ul class="govuk-list govuk-list">
              <li><a href="/manage-case/v6/email/notifications.html">Notifications</a></li>
              <li><a href="/manage-case/v6/case-list/my-cases">My cases</a></li>
              </ul>
    </h1>
</div>-->

{% endblock %}
